[Unit]
BindsTo=sway-session.target

[Service]
Type=simple
Environment=PYTHONUNBUFFERED=true
ExecStart=/home/alex/.linux-config/scripts-bin/gamescope-mode-manager
Restart=always
RestartSec=5

[Install]
WantedBy=sway-session.target
